<div
  class="min-h-screen flex flex-col items-center justify-center h-full w-full bg-[#171717] px-12"
>
  <div *ngIf="!isIdentified">
    <p class="text-[3rem] font-Montserrat font-semibold">
      Cannot find metamask
    </p>
  </div>
  <button *ngIf="isIdentified && !isConnected">Connect</button>

  <div class="text-center" *ngIf="isConnected && !isMinting && !success">
    <div class="bg-[#292929] p-10 rounded-lg">
      <h2 class="text-4xl font-Montserrat p-2 text-white">Enter The Amount</h2>
      <div
        class="flex items-center font-Francois gap-2 text-5xl text-center justify-center"
      >
        <p class="text-white pl-12">₹</p>
        <input
          (blur)="onBlur($event)"
          class="bg-transparent text-white border-transparent focus:border-transparent focus:ring-0 !outline-none text-7xl font-semibold border-none"
          type="number"
          min="0"
          max="1000"
          #amount
        />
      </div>
      <button
        (click)="mintTokens(amount.valueAsNumber)"
        class="w-[200px] mt-10 text-2xl text-[#171717] bg-[#d5ff3f] py-2 px-4 border border-black rounded-[10px]"
      >
        Contribute
      </button>
    </div>
  </div>

  <div
    *ngIf="isMinting"
    class="flex items-center justify-center text-center w-full h-full text-white text-4xl"
  >
    Your transaction Is being processed...
  </div>

  <div
    class=" bg-[#292929] absolute z-40 w-4/12  shadow-xl text-white rounded-lg p-5" *ngIf="success"
  >
    <h2 class="font-bold text-5xl mb-4 text-[#d5ff3f]">Thank You! 🎉</h2>
    <p>A huge thank you for supporting our initiative, Hear Us Initiative.</p>
    <p>
      We would like to extend our token of appreciation for such a generous
      contribution. To reciprocate your kindness, you have been rewarded
      NFTs which belong to the pappadam
      Collection.
    </p>
    <p>
      Head over to
      <a
        class="text-[#d5ff3f] underline font-bold"
        href="https://testnets.opensea.io/collection/hearus?search[sortAscending]=false&search[sortBy]=CREATED_DATE"
       
      >
        OpenSea.io </a
      >to check it out
    </p>
    <button
      (click)="setSuccess(false)"
      class="p-1 px-4 mt-5 border-1 rounded-lg font-semibold bg-[#d5ff3f] text-black"
    >
      Back
    </button>
  </div>
</div>
