<div
  class="min-h-screen flex flex-col items-center justify-center h-full w-full bg-[#171717]  px-12"
>
  <div *ngIf="!isIdentified">
    <p class="text-[3rem] font-Montserrat font-semibold">
      Cannot find metamask
    </p>
  </div>
  <button *ngIf="isIdentified && !isConnected">Connect</button>
  <div class="text-center" *ngIf="isConnected">
    <div class="bg-[#292929] p-10 rounded-lg">
      <h2 class="text-4xl font-Montserrat p-2 text-white">Enter The Amount</h2>
      <div class="flex items-center font-Francois gap-2 text-5xl text-center justify-center">
        <p class="text-white pl-12">₹</p>
        <input
          (blur)="onBlur($event)"
          class="bg-transparent text-white border-transparent focus:border-transparent focus:ring-0 !outline-none text-7xl font-semibold border-none"
          type="number"
          min="0"
          max="1000"
          #amount
        />
      </div>
      <button
        class="w-[200px] mt-10 text-2xl text-[#171717] bg-[#d5ff3f] py-2 px-4 border border-black rounded-[10px]"
      >
        Contribute
      </button>
    </div>
  </div>
</div>
