<main class="min-h-screen h-full w-full bg-black overflow-x-hidden">
  <Navbar />
  <section id="home" class="flex h-full w-full bg-[#d5ff3f] md:px-12">
    <div class="flex">
      <div class="pb-[100px]">
        <div
          class="flex gap-3 w-[70%] text-[8rem] leading-none font-bold"
        >
          <div class="w-6 h-6 rounded-full animate-bounce duration-1000  delay-75 bg-black"></div>
          <div class="w-6 h-6 rounded-full animate-bounce delay-500 bg-black"></div>
        </div>
        <div class="w-[90%] flex items-center justify-between">
          <div data-aos='fade-right' class="md:text-[9rem] font-black leading-none">BELAUDING</div>

          <div
            class="w-[450px] h-32 bg-[#d5ff3f] rounded-full overflow-hidden mx-[3%]"
          >
            <img
              data-aos='fade' data-aos-delay="400"
              class="object-contain"
              src="https://c4.wallpaperflare.com/wallpaper/1005/436/990/black-splash-abstract-wallpaper-preview.jpg"
              alt="stock image"
            />
          </div>
        </div>

        <div class="w-full flex justify-between">
          <div data-aos='fade-right' data-aos-delay="300" class="w-[60%] text-[9rem] font-black leading-none">ESSE</div>
          <div data-aos='fade-left' data-aos-delay="500"
            class="w-[65%] mx-auto font-light items-end text-3xl p-12 tracking-widest"
          >
            Life is all about enduring through what it has in store for us. It's
            a continual process of moving forward, one step at a time, while
            savoring life as it unfolds.
          </div>
        </div>
        <div class="flex gap-3">
          <button
            class="w-[200px] text-2xl bg-transparent text-black f py-2 px-4 border border-black rounded-full"
          >
            Revivifying
          </button>

          <button
            class="w-[200px] text-2xl bg-transparent text-black py-2 px-4 border border-black rounded-full"
          >
            Expansive
          </button>
          <div class="w-full h-[2px] bg-neutral-700 opacity-25 my-5"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-10 flex flex-col items-center bg-[#d5ff3f] md:px-12">
    <div data-aos='fade-up' class="w-[90%] h-[550px] overflow-hidden ">
      <img
        class="rounded-t-[200px]"
        src="https://static.vecteezy.com/system/resources/previews/002/431/892/original/black-and-white-abstract-marble-texture-monochrome-abstract-background-illustration-vector.jpg"
        alt="stock image"
      />
    </div>
  </section>

  <section  id="about"  class="h-full bg-[#171717] md:px-12 pb-16">
    <div data-aos="fade-right">
      <div class="w-[60%]">
        <h1 class="text-[#bfbfbf] text-5xl pt-3 font-bold">
          <span class="text-[#d5ff3f] text-[7rem] font-bold">.</span> HearUs
        </h1>
        <p class="text-[#8b8b8b] text-3xl">
          At <span class="text-[#d5ff3f]">HearUs</span>, our goal is to establish an ecosystem that
          emphasizes the importance of mental awareness and well-being. Our sole
          motivation is to create a secure environment for individuals
          constrained by societal norms and unforeseen circumstances.
        </p>
      </div>
    </div>

    <div class="flex justify-end" data-aos="fade-left">
      <div class="w-[60%] text-right">
        <h1 class="text-[#bfbfbf] text-5xl pt-3 font-bold">
          The Process <span class="text-[#d5ff3f] text-[7rem] font-bold">.</span>
        </h1>
        <p class="text-[#8b8b8b] text-3xl">
          When interested individuals/organizations make contributions, they earn random NFT(s) that belong to the <span class="text-[#d5ff3f]">HearUs </span>Collection, proportionate to the donation made.
          These <b>NFTs</b> are exclusive renders, made possible by our tools, that are our token of gratitude to all our benefactors.
        </p>
      </div>
    </div>

    <div class="flex" data-aos="fade-right">
      <div class="w-[60%]">
        <h1 class="text-[#bfbfbf] text-5xl pt-3 font-bold">
          <span class="text-[#d5ff3f] text-[7rem] font-bold">.</span>The Essence
        </h1>
        <p class="text-[#8b8b8b] text-3xl">
          No matter an individual's background, our strong belief remains that<span class="text-[#d5ff3f]"> music</span> is crucial in communication and represents an extraordinary facet of life shaped by customs, upbringing, and beyond.
That's why the <span class="text-[#d5ff3f]">HearUs </span>Collection draws inspiration from this limitless medium, encapsulating the essence of peak music, in all possible formats.       </p>
      </div>
    </div>
    <div class="flex justify-end" data-aos="fade-left">
      <div class="w-[60%] text-right">
        <h1 class="text-[#bfbfbf] text-5xl pt-3 font-bold">
          The Core <span class="text-[#d5ff3f] text-[7rem] font-bold">.</span>
        </h1>
        <p class="text-[#8b8b8b] text-3xl">
          Unlike conventional donations that focus on a single activity, our model ensures that the donated amount is maximally utilized, in multiple fronts, along with offering the opportunity for a significantly higher return on the initial contribution.
        </p>
      </div>
    </div>
    <div class="flex" data-aos="fade-right">
      <div class="w-[60%]">
        <h1 class="text-[#a2a2a2] text-5xl pt-3 font-bold">
          <span class="text-[#d5ff3f] text-[7rem] font-bold">.</span>The Conclusion
        </h1>
        <p class="text-[#8b8b8b] text-3xl">
          
The Collection operates on the <span class="text-[#d5ff3f]">Multi-Ended Mutually Beneficial Model</span>, ensuring that both the donor and recipient reap the utmost advantages from the donation. Donors have the option to retain the <b>NFT</b> as a <span class="text-[#d5ff3f]">permanent transaction record</span> or potentially resell it at a higher value, generating profit for both the donor, and the recipient through the <span class="text-[#d5ff3f]"><b>Creator Charge</b></span> applied to each transaction.</p>
      </div>
    </div>
  </section>


  

  <section id='quote' class="bg-[#171717] h-screen p-20">
    <div
      class="flex items-center text-center w-full h-full bg-[#292929] text-[#a2a2a2] text-[4.6rem] font-Montserrat p-10"
    >
      "EMPOWER OTHERS; YOUR SUPPORT CAN FUEL THE JOURNEY TO THEIR BRIGHTER,
      BETTER TOMORROW"
    </div>
  </section>
  <section id="Portfolio" class="w-full min-h-screen bg-[#171717] px-10">
    <div class="flex flex-col w-full" data-aos="fade-up">
      <div class="text-[#a2a2a2] text-[6rem] font-bold md:px-12">
       SNEAK PEAK<span class="text-[#d5ff3f] text-[7rem] font-bold"
         >.</span
        >
      </div>
      <div class="flex flex-col w-full h-full justify-center items-center">
        <div class="flex">
          <NftBox Name="Mirage Melodies " Id="000" Price="Pop , Medium" url="https://storage.googleapis.com/here-us-ebe72.appspot.com/Image/0.png" data-aos="fade-up"/>
          <NftBox Name="Ethereal Reverie " Id="001" Price="Jazz , Medium" url="https://storage.googleapis.com/here-us-ebe72.appspot.com/Image/1.png" data-aos="fade-up" data-aos-delay="100"/>
          <NftBox Name="Celestial Serenade " Id="002" Price="Rock , Fast" url="https://storage.googleapis.com/here-us-ebe72.appspot.com/Image/2.png" data-aos="fade-up" data-aos-delay="200"/>
        </div>
        <div class="flex">
          <NftBox Name="Echoes Of Eternity " Id="003" Price="Classic , Fast" url="https://storage.googleapis.com/here-us-ebe72.appspot.com/Image/3.png" data-aos="fade-up" />
          <NftBox Name="Cosmic Cadence " Id="004" Price="Rock , Fast" url="https://storage.googleapis.com/here-us-ebe72.appspot.com/Image/4.png" data-aos="fade-up" data-aos-delay="100"/>
          <NftBox Name="Enigmatic Echoes " Id="009" Price="Lofi , Slow" url="https://storage.googleapis.com/here-us-ebe72.appspot.com/Image/9.png" data-aos="fade-up" data-aos-delay="200"/>
        </div>
      </div>
    </div>
  </section>

  <section id='contact' class="flex flex-col w-full min-h-screen h-full bg-[#171717] px-10">
    <div
      class="flex flex-col bg-[#d5ff3f] w-[80%] mx-auto h-[600px] rounded-b-[10rem] justify-center items-center p-10  "
    >
      <div
        class="w-full flex text-[6rem] text-[#171717] font-bold font-Montserrat text-center justify-center"
      >
        So, how abt we talk the talk ?
      </div>
      <div
        class="w-full flex text-[6rem] text-[#171717] font-bold font-Montserrat text-center justify-center"
      >
        Join us ASAP
      </div>
      <div class="flex gap-3">
        <button
          class="w-[200px] text-2xl bg-[#171717] text-[#d5ff3f] f py-2 px-4 border border-black rounded-full items-center text-center justify-center"
          (click)="router.navigate(['/contribute'])"
        >
          Contribute
        </button>

        <a
          href="mailto:deflatedpappadam@gmail.com"
          class="w-[200px] text-2xl bg-transparent text-black py-2 px-4 border border-black rounded-full items-center text-center justify-center"
        >
          Get in Touch
        </a>
      </div>
    </div>
    <footer-comp class="pt-[200px] justify-end items-end"/>
  </section>

  
</main>
