<main class="min-h-screen h-full w-full bg-[#d5ff3f] px-12">
  <Navbar />
  <div class="flex min-h-screen">
    <div class="flex">
      <div class="">
        <div class="w-[70%] text-[8rem] leading-none font-bold">..</div>
        <div class="w-[90%] flex items-center justify-between">
          <div class="text-[12rem] font-black leading-none">SOMETHING</div>
          <div class=" w-[450px] h-32 bg-gray-300 rounded-full overflow-hidden">
            <img
              class=" object-contain"
              src="https://images.pexels.com/photos/2693208/pexels-photo-2693208.png"
              alt="stock image"
            />
          </div>
        </div>

        <div class="w-full flex">
          <div class="w-[70%] text-[12rem] font-black leading-none">SMTHNG</div>
          <div
            class="w-[45%] mx-auto font-Francois items-end text-3xl py-12 tracking-widest"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
            molestiae dignissimos, aperiam quis nihil reiciendisasdasdasdsss
          </div>
        </div>
        <div class="flex gap-3 ">
            <button class="w-[200px]  text-2xl bg-transparent  text-black f py-2 px-4 border border-black  rounded-full">
                Something
              </button>
              
              <button class="w-[200px] text-2xl bg-transparent  text-black py-2 px-4 border border-black  rounded-full">
                Something
              </button>
              <div class="w-full bg-black w-1"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="mt-10 flex flex-col items-center">
    <img
      class="w-[80%] rounded-t-[200px]"
      src="https://images.pexels.com/photos/2693208/pexels-photo-2693208.png"
      alt="stock image"
    />
    <div class="max-w-full h-[130%]">
      <div class="flex flex-wrap gap-[1rem] ">
        <p>Something</p>
        <p>Something</p>
        <p>Something</p>
        <p>Something</p>
        <p>Something</p>
        <p>Something</p>
        <p>Something</p>
      </div>
    </div>
  </section>
</main>
